/** @format */

.aboutBanner {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../img/banner/Rectangle_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  height: 551px;
  color: #ffffff;
  background-size: cover;
  padding-top: 150px;
}

.about_content {
  /* text-align: justify; */
  width: 600px;
  margin-left: 200px;
}
