/** @format */

.overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../img/banner/home.png");
  background-repeat: no-repeat;
  background-position: center center;
  height: 551px;
  color: black;
  background-size: cover;
  padding-top: 150px;
}
.best_course {
  background-color: #ffffff;
  padding: 50px;
  margin: 10px 600px 20px 60px;
}

@media all and (max-width: 800px) {
  .best_course {
    font-weight: normal;
    font-size: small;
    width: 50%;
    padding: 5px;
  }
}
@media all and (max-width: 1000px) {
  .best_course {
    font-weight: normal;
    font-size: small;
    width: 50%;
    padding: 5px;
  }
}
/* @media all and (max-width: 800px) {
  .best_course {
    font-weight: normal;
    font-size: small;
    width: 50%;
    padding: 5px;
  }
} */
