/** @format */

.footer {
  background-color: #ffffff;
  padding-top: 62px;
  /* padding-bottom: 62px; */
}

@media all and (max-width: 492px) {
  .footer_top {
    padding-left: 50px;
  }
}
@media all and (max-width: 800px) {
  .footer_top {
    padding-left: 50px;
  }
}

.footer_top {
  padding-bottom: 62px;
}

a {
  color: #858585;
  text-decoration: none;
}
.footer_header {
  color: #2a283b;
}

.copyright {
  color: #afaeb5;
  /* padding-top: 25px; */
  /* padding-bottom: 12px; */
}
.copyrightRow {
  background-color: #2a283b;
}
.footer .fa {
  color: black;
  padding: 10px 10px 0 10px;
}
