/** @format */

.grinding_knowledge {
  background-color: #ffffff;
}
.grinding_knowledge_image {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media all and (max-width: 800px) {
  .about_content {
    font-weight: normal;
    font-size: small;
    width: 70%;
    text-align: justify;
    margin-left: 50px;
    padding: 5px;
  }
}
