/** @format */

.join_community {
  background-color: #ffffff;
  padding: 70px;
}

@media all and (max-width: 492px) {
  .join_community {
    text-align: left;
  }
}
@media all and (max-width: 800px) {
  .join_community {
    text-align: left;
  }
}
