/** @format */

.overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../../../images/banner/home.png");
  background-repeat: no-repeat;
  background-position: center center;
  height: 551px;
  color: black;
  background-size: cover;
  padding-top: 150px;
}
.best_course {
  background-color: #ffffff;
  padding: 50px;
  margin: 10px 600px 20px 60px;
}
